:root {
  --primary: #7cb342;
}

#profile-picture {
  border-radius: 50%;
  height: 250px;
}

header {
  margin-top: 1rem;
}

footer {
  text-align: center;
  margin-top: 1rem;
  font-size: .7rem;
}

#portuguese-flag {
  height: 25px;
  margin-right: 10px;
}