<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<title>{{ page.title }} - {{ site.title }}</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	</head>
	<body>
		<div class="container">
			<header>
				<div class="grid">
					<div>
						<hgroup>
							<h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
							<h2>Back-end Software Developer/Solutions Arquitect</h2>
						</hgroup>
					</div>
					<div>
						<h3>{{ page.title }}</h3>
						{% if page.project %}<small><a href="yesthisdoesntworkyetkthx">{{ page.project }}</a></small>{% endif %}
						<nav>{% include tags.html %}</nav>
					</div>
				</div>
			</header>
			<main>{{ content }}</main>
			{% include footer.html %}
		</div>
	</body>
</html>
